.meme--wrapper{
    width: 100%;
    padding: 0 3em;
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2em 0;
        .form--input--wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            input[type="text"]{
                font-family: inherit;
                width: 40%;
                min-width: 160px;
                border: 2px solid #D5D4D8;
                border-radius: 5px;
                padding: .5em;
            };
            .meme--text--input{
                display: flex;
                gap: 1em;
                margin-bottom: 1em;
                justify-content: space-between;
            }
            .meme--link{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:.5em;
                justify-content: space-between;
                
                .form--checkbox{
                    input[type="checkbox"]{
                        width: 15px;
                        margin: 0;
                        margin-right: .5em;
                        accent-color: #D77126;
                    }
                    width: 40%;
                    min-width: 170px;
                    text-align: center;
                    
                    
                }
            }
        }
        button{
            font-family: inherit;
            margin-top: 2em;
            width: 100%;
            padding: 1em;
            color: white;
            background: linear-gradient(90deg, #D77126, #D5B339);
            border: none;
            border-radius: 5px;
            letter-spacing: .1em;
            font-weight: 400;
            cursor: pointer;
            box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: .3);
        }
    }
    .meme{
        position: relative;
        .meme--img{
            display: block;
            margin: 0 auto;
            margin-bottom: 2em;
            max-width: 80%;
            max-height: 60vh;
        }
        .meme--text{
            position: absolute;
            width: 80%;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            margin: .1em 0;
            padding: 0 .3em;
            font-size: 2rem;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            text-shadow:
                2px 2px 0 #000,
                -2px -2px 0 #000,
                2px -2px 0 #000,
                -2px 2px 0 #000,
                0 2px 0 #000,
                2px 0 0 #000,
                0 -2px 0 #000,
                -2px 0 0 #000,
                2px 2px 5px #000;
        }
        .bottom{
            bottom: 0;
        }
        .top{
            top: 0;
        }
    }
    
}

@media (max-width: 530px){
    *{
        font-size: 12px;
    }

    .meme--text--input{
        flex-direction: column;
        align-items: center;
    }
}