.meme--wrapper{
    width: 100%;
    .form{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2em 2.5em;
        .form--input--wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            input{
                font-family: inherit;
                width: 40%;
                border: 2px solid #D5D4D8;
                border-radius: 5px;
                padding: .8em;
            };
        }
        button{
            font-family: inherit;
            margin-top: 2em;
            width: 100%;
            padding: 1em;
            color: white;
            background: linear-gradient(90deg, #D77126, #D5B339);
            border: none;
            border-radius: 5px;
            letter-spacing: .1em;
            font-weight: 400;
            cursor: pointer;
            box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: .3);
        }
    }
    .meme--img{
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
        max-width: 80%;
        max-height: 60vh;
    }
}